
<h1>Fill Out This Form</h1>

<form action="/hello" method="POST">

  <label for="greet">A Greeting:</label>
  <input type="text" placeholder="Enter a Greeting" name="greet">
  <br/><br/>
  <label for="name">Your Name:</label>
  <input type="text" placeholder="Enter your Name" name="name">
  <br/><br/>
  <label for="name">File Upload:</label>
  <input type="file" placeholder="Enter file name" name="filetoUpload" file_extension=".txt">
  <br/><br/>
  <input type="submit">

</form>
